<appSettings>
    <add key="ida:AppID" value="a594634c-621f-42b4-9aae-de47f979aca2" />
    <add key="ida:AppSecret" value="ujpMR3^[qabsQIBEN5279;+" />
  <!--<add key="ida:AppSecret" value="jxzYWZ387?%[#titfJFOK22" />-->
  <!--<add key="ida:AppID" value="7905c8d6-3f16-41e6-b907-aaaa8e4127cd" />
  <add key="ida:AppSecret" value="uhjnrQCYI4*[tjKPI8512(}" />-->

  <add key="ida:RedirectUri" value="http://localhost:51836/webform1" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read User.ReadWrite.All Group.ReadWrite.All" />
</appSettings>