<appSettings>
    <add key="ida:AppID" value="a59463xxxxe47f979aca2" />
    <add key="ida:AppSecret" value="xxxxx+" />
    <add key="ida:RedirectUri" value="http://localhost:51836/webform1" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read User.ReadWrite.All Group.ReadWrite.All" />
</appSettings>
