<appSettings>
    <add key="ida:AppID" value="a594634c-621f-42b4-9aae-de47f979aca2" />
    <add key="ida:AppSecret" value="ujpMR3^[qabsQIBEN5279;+" />
    <add key="ida:RedirectUri" value="http://localhost:51836/webform1" />
    <add key="ida:AppScopes" value="User.Read Calendars.Read User.ReadWrite.All Group.ReadWrite.All" />
</appSettings>
